.sidebar {
    width: 200px;
    background-color: rgb(172, 216, 163);
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    align-items: start;
    height: 90vh;
    position: fixed; /* Fixed position to stay on the left */
    top: 10px;
    left: 10px;
  }


  .sidebar img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
  }


  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    list-style-type: none; 
    margin-bottom: 30px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }


 .sidebar h1 {
    margin-bottom: 80px;
  }